.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-right: 2em;
  padding-left: 0em;
  z-index: 500;
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 500;
  height: 10vh;
  padding-left: 0;
}

.menuItem {
  text-decoration: none;
  color: var(--main-dark);
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  font-size: 1em;
}

:is(.menuItem.active) {
  color: var(--color-secundair);
  font-weight: 400;
}

ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 50px;
}

li {
  transition: 0.2s;
  list-style: none;
}

.menuItem:hover {
  color: var(--color-secundair);
}

svg {
  margin-top: 1em;
  width: 20rem;
  margin-left: 0em;
}

.mobileNone {
  display: none;
}

@media screen and (max-width: 1122px) {
  .menuItem {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 700px) {
  .headerWrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    padding-right: 2em;
    padding-left: 1em;
    padding-top: 0em;
  }

  nav {
    overflow: hidden;
  }

  svg {
    margin-top: 0;
    width: 9rem;
  }

  ul {
    display: none;
  }
  .mobileNone {
  display: block;
}
}